{% extends 'base.html.twig' %}

{% block body %}
<h1>Tic Tac Toe</h1>
    {# Displaying Infomessages #}
    <div class="currentplayer">
        <strong>Aktueller Spieler: {{ currentPlayer }} </strong> </br> 
    </div>
    <div class="gamemode">
        Spielmodus: {% if pvp %} Spieler gegen Spieler  {% else %} Spieler Gegen künstlicher Intelligenz {% endif %}
    </div>
    </br>
    {% if winner != '-' %}
        </br>
        <div class="alert alert-success">
            <p><strong>Spiel ist zu Ende. {{ winner }} hat gewonnen. </strong></p>
        </div>
        </br>
        </br>
    {% endif %}

    {# Displaying Gameboard #}
    <form action="{{ path('tic_tac_toe.game') }}" method="post">
        {% for row in board %}
        <div>
            {% for cell in row %}
                <input style="width:35px; height:35px;margin:5px" type="submit" class="cell" name="{{ loop.parent.loop.index0 }},{{ loop.index0 }}" class="box" value="{{ cell }}" {% if cell != '-' or winner != '-' %} disabled {% endif %} > 
            {% endfor %}
        </div>
        {% endfor %}
    </form>

    {# Displaying Restart Button #}
    </br>
    <a href="{{ path('tic_tac_toe.home') }}">
        {% if winner != '-' %}
            Erneut spielen
        {% else %}
            Spiel aufgeben
        {% endif %}
    </a>
    
{% endblock %}

